.home-page-angry-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
}

#home-page-item-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 5;
}
#home-page-item-1 {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 4;

  height: 50vh;
}
#home-page-item-2 {
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 5;
}
#home-page-item-3 {
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 5;
}
#home-page-item-4 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}

.home-container-angry-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
}

#home-container-item-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 3;
}
#home-container-item-1 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 5;

  padding: 25px;
}
#home-container-item-2 {
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 5;
}

.home-container-tab {
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 15px;
}
.home-container-tab:hover {
  background-color: rgb(240, 240, 240);
}
.home-container-tab-selected {
  background-color: rgb(218, 218, 218);
}
.home-container-tab-heading {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 2em;
}
