@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300;1,700&display=swap");
/* added regular font weights - 200,400,500,600,700,800 */
/* added italic font weights - 300,700 */
:root {
  --font-family: "Poppins", sans-serif;

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 5% 5%,
    rgba(44, 83, 100, 1) 0%,
    rgba(32, 58, 67, 1) 33%,
    rgba(15, 32, 39, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 5% 5%,
    rgba(44, 83, 100, 1) 0%,
    rgba(32, 58, 67, 1) 33%,
    rgba(15, 32, 39, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 5% 5%,
    rgba(44, 83, 100, 1) 0%,
    rgba(32, 58, 67, 1) 33%,
    rgba(15, 32, 39, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 5% 5%,
    rgba(44, 83, 100, 1) 0%,
    rgba(32, 58, 67, 1) 33%,
    rgba(15, 32, 39, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 5% 5%,
    rgba(44, 83, 100, 1) 0%,
    rgba(32, 58, 67, 1) 33%,
    rgba(15, 32, 39, 1) 100%
  );
}
