.admin-page-angry-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
}

#admin-page-item-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 6;

  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 2em;
  color: white;
}
#admin-page-item-1 {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 5;

  height: 50vh;
}
#admin-page-item-2 {
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 6;
}
#admin-page-item-3 {
  grid-row-start: 2;
  grid-column-start: 5;

  grid-row-end: 4;
  grid-column-end: 6;
}
#admin-page-item-4 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}

.admin-page-header-options:hover {
  color: teal;
}
