.search-result-list-item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.9em;
  border: solid black;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-result-list-item:hover {
  background-color: rgb(218, 218, 218);
}

.search-result-list-item-column1 {
  width: 10%;
}
.search-result-list-item-column2 {
  width: 45%;
}
.search-result-list-item-column3 {
  width: 45%;
}

.search-result-selected-user-details {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.9em;
}

.search-result-selected-user-details-field {
  margin-top: 10px;
  margin-bottom: 10px;
}
